
ACCESS_KEY=test12

# main 
PORT=8000 
BASEPATH=http://localhost:8000
BASEPATH_FE_REACT=http://localhost:3000

# email
email_name = 
email_password = 
service_email = 

# config ORM
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DIALECT=mysql